* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

li {
  list-style: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 1 auto;
  background: #efefef;
}
@media (min-width: 1230px) {
  .content {
    padding-top: calc(70px + 50 * (100vw - 320px) /1920);
  }
}
@media (max-width: 1230px) {
  .content {
    padding-top: calc(70px + 50 * (100vw - 320px) /1920);
  }
}

.header {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #efefef;
  z-index: 5;
  background-color: #fff;
}
.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1230px) {
  .header__row {
    height: calc(70px + 50 * (100vw - 320px) /1920);
  }
}
@media (max-width: 1230px) {
  .header__row {
    height: calc(70px + 50 * (100vw - 320px) /1920);
  }
}
.header_icon {
  padding: 0px 20px 0px 0px;
}
@media (min-width: 1230px) {
  .header_icon img {
    height: calc(50px + 30 * (100vw - 320px) /1920);
  }
}
@media (max-width: 1230px) {
  .header_icon img {
    height: calc(50px + 30 * (100vw - 320px) /1920);
  }
}
@media (min-width: 1230px) {
  .header_icon img {
    width: calc(50px + 30 * (100vw - 320px) /1920);
  }
}
@media (max-width: 1230px) {
  .header_icon img {
    width: calc(50px + 30 * (100vw - 320px) /1920);
  }
}
.header_title {
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 0.1em;
  color: #f13c6e;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__search input {
  border-radius: 40px;
  width: 250px;
  height: 40px;
  padding: 0px 30px;
  background: url("../img/header/Vector.png") 30px 12px no-repeat #efefef;
}
@media (max-width: 600px) {
  .header__search input {
    display: none;
  }
}
.header__search input:focus {
  background: #efefef;
  border: 2px solid #000;
}
.header__contact {
  display: flex;
  align-items: center;
}
@media (max-width: 900px) {
  .header__contact {
    display: none;
  }
}

.container {
  max-width: 1140px;
  margin: 0px auto;
  padding: 0px 15px;
}

.button button {
  border: 2px solid #f13c6e;
  box-sizing: border-box;
  border-radius: 40px;
  background: #fff;
  font-size: 14px;
  padding: 12px 26px;
  transition: all 0.5s ease 0s;
}
@media (min-width: 1230px) {
  .button button {
    padding-top: calc(6px + 6 * (100vw - 320px) /1920);
  }
}
@media (max-width: 1230px) {
  .button button {
    padding-top: calc(6px + 6 * (100vw - 320px) /1920);
  }
}
@media (min-width: 1230px) {
  .button button {
    padding-bottom: calc(6px + 6 * (100vw - 320px) /1920);
  }
}
@media (max-width: 1230px) {
  .button button {
    padding-bottom: calc(6px + 6 * (100vw - 320px) /1920);
  }
}
@media (min-width: 1230px) {
  .button button {
    padding-left: calc(13px + 13 * (100vw - 320px) /1920);
  }
}
@media (max-width: 1230px) {
  .button button {
    padding-left: calc(13px + 13 * (100vw - 320px) /1920);
  }
}
@media (min-width: 1230px) {
  .button button {
    padding-right: calc(13px + 13 * (100vw - 320px) /1920);
  }
}
@media (max-width: 1230px) {
  .button button {
    padding-right: calc(13px + 13 * (100vw - 320px) /1920);
  }
}

.button button:hover {
  background-color: #efefef;
  color: #f13c6e;
  transition: all 0.5s ease 0s;
}

.contact-item__number {
  font-size: 16px;
}
@media (min-width: 1230px) {
  .contact-item__number {
    padding-right: calc(20px + 20 * (100vw - 320px) /1920);
  }
}
@media (max-width: 1230px) {
  .contact-item__number {
    padding-right: calc(20px + 20 * (100vw - 320px) /1920);
  }
}
.main-menu ol {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .main-menu ol {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 1230px) {
  .main-menu_link {
    padding-top: calc(15px + 15 * (100vw - 320px) /1920);
  }
}
@media (max-width: 1230px) {
  .main-menu_link {
    padding-top: calc(15px + 15 * (100vw - 320px) /1920);
  }
}
@media (min-width: 1230px) {
  .main-menu_link {
    padding-bottom: calc(15px + 15 * (100vw - 320px) /1920);
  }
}
@media (max-width: 1230px) {
  .main-menu_link {
    padding-bottom: calc(15px + 15 * (100vw - 320px) /1920);
  }
}
@media (max-width: 600px) and (min-width: 1230px) {
  .main-menu_link {
    padding-right: calc(15px + 0 * (100vw - 320px) /1920);
  }
}
@media (max-width: 600px) and (max-width: 1230px) {
  .main-menu_link {
    padding-right: calc(15px + 0 * (100vw - 320px) /1920);
  }
}
@media (max-width: 600px) and (min-width: 1230px) {
  .main-menu_link {
    padding-left: calc(15px + 0 * (100vw - 320px) /1920);
  }
}
@media (max-width: 600px) and (max-width: 1230px) {
  .main-menu_link {
    padding-left: calc(15px + 0 * (100vw - 320px) /1920);
  }
}
.main-menu_link a {
  font-weight: normal;
  font-size: 16px;
  color: #000;
  transition: all 0.5s ease 0s;
}
.main-menu_link a:hover {
  color: #f13c6e;
  transition: all 0.5s ease 0s;
}

.container-menu {
  max-width: 770px;
  margin: 0px auto;
}

.chair {
  background: url("../img/chair/chair_bg.png") no-repeat center top/cover;
}
.chair__row {
  display: flex;
}
@media (min-width: 1230px) {
  .chair__row {
    padding-top: calc(50px + 142 * (100vw - 320px) /1920);
  }
}
@media (max-width: 1230px) {
  .chair__row {
    padding-top: calc(50px + 142 * (100vw - 320px) /1920);
  }
}
@media (min-width: 1230px) {
  .chair__row {
    padding-bottom: calc(50px + 142 * (100vw - 320px) /1920);
  }
}
@media (max-width: 1230px) {
  .chair__row {
    padding-bottom: calc(50px + 142 * (100vw - 320px) /1920);
  }
}
.chair__body_subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #fff;
  max-width: 308px;
}
@media (min-width: 1230px) {
  .chair__body_subtitle {
    padding-top: calc(25px + 25 * (100vw - 320px) /1920);
  }
}
@media (max-width: 1230px) {
  .chair__body_subtitle {
    padding-top: calc(25px + 25 * (100vw - 320px) /1920);
  }
}
@media (min-width: 1230px) {
  .chair__body_subtitle {
    padding-bottom: calc(25px + 25 * (100vw - 320px) /1920);
  }
}
@media (max-width: 1230px) {
  .chair__body_subtitle {
    padding-bottom: calc(25px + 25 * (100vw - 320px) /1920);
  }
}
.button-content button {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  height: 35px;
  letter-spacing: 0.05em;
  color: #ffffff;
  background: #f13c6e;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 40px;
  padding: 0px 26px;
  transition: all 0.5s ease 0s;
}

.button-content button:hover {
  border: 2px solid #000;
  color: #000;
  background: #ff1f46;
  transition: all 0.5s ease 0s;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  color: #fff;
}

@media (min-width: 1230px) {
  .offers_title {
    padding-top: calc(30px + 50 * (100vw - 320px) /1920);
  }
}
@media (max-width: 1230px) {
  .offers_title {
    padding-top: calc(30px + 50 * (100vw - 320px) /1920);
  }
}
@media (min-width: 1230px) {
  .offers_title {
    padding-bottom: calc(20px + 18 * (100vw - 320px) /1920);
  }
}
@media (max-width: 1230px) {
  .offers_title {
    padding-bottom: calc(20px + 18 * (100vw - 320px) /1920);
  }
}
.offers__row {
  display: flex;
  justify-content: space-between;
  margin: 0px -15px;
}
@media (max-width: 870px) {
  .offers__row {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.title-content {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}

.offers-item_head {
  margin: 0px 15px 0px 15px;
}
@media (min-width: 1230px) {
  .offers-item_head {
    margin-bottom: calc(40px + 60 * (100vw - 320px) /1920);
  }
}
@media (max-width: 1230px) {
  .offers-item_head {
    margin-bottom: calc(40px + 60 * (100vw - 320px) /1920);
  }
}

.offers-item_footer {
  margin: 0px 15px 80px 15px;
}

.offers-item {
  text-align: center;
  background: #fff;
}
.offers-item_body {
  padding: 25px 30px;
}
.offers-item_about {
  font-weight: normal;
  font-size: 14px;
  color: #333333;
  padding: 20px 0px;
}
.offers-item_price {
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  letter-spacing: 0.05em;
  padding: 0px 0px 20px 0px;
}
.offers-item_button button {
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.05em;
  background: #f13c6e;
  border-radius: 30px;
  transition: all 0.5s ease 0s;
  padding: 9px 40px;
  color: #fff;
}
.offers-item_button button:hover {
  background: #ff1f46;
  transition: all 0.5s ease 0s;
}

.bonus__row {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1120px) {
  .bonus__row {
    flex-direction: column;
    align-items: center;
  }
}

.bonus-item {
  background: #f13c6e;
  width: 540px;
  height: 212px;
}
@media (max-width: 1200px) {
  .bonus-item {
    display: none;
  }
}
.bonus-item__row {
  display: flex;
  padding: 35px 45px 35px 40px;
  justify-content: space-between;
}
.bonus-item__body {
  display: flex;
  flex-direction: column;
  padding: 0px 15px 0px 0px;
}
.bonus-item__title {
  font-weight: bold;
  font-size: 18px;
  color: #fff;
}
.bonus-item__text {
  flex: 1 1 auto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #fff;
  padding: 25px 0px 25px 0px;
}
.bonus-item__form input {
  height: 35px;
  background: #ffffff;
  border-radius: 30px;
  color: #c4c4c4;
  padding: 0px 0px 0px 26px;
}
.bonus-item__form input:focus {
  border: 2px solid #000;
}
.bonus-item__img_2 {
  height: 130px;
  display: flex;
}
.bonus-item__img_2 img {
  align-self: center;
}
.impuls__row {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  justify-content: center;
}
@media (min-width: 1230px) {
  .impuls__row {
    margin-top: calc(50px + 50 * (100vw - 320px) /1920);
  }
}
@media (max-width: 1230px) {
  .impuls__row {
    margin-top: calc(50px + 50 * (100vw - 320px) /1920);
  }
}
@media (min-width: 1230px) {
  .impuls__row {
    margin-bottom: calc(40px + 40 * (100vw - 320px) /1920);
  }
}
@media (max-width: 1230px) {
  .impuls__row {
    margin-bottom: calc(40px + 40 * (100vw - 320px) /1920);
  }
}

.impuls-item {
  flex: 0 0 25%;
  border: 1px solid #efefef;
}
.impuls-item__img {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 35px 0px;
}

.links {
  background: #fff;
}
@media (min-width: 1230px) {
  .links {
    padding-top: calc(30px + 30 * (100vw - 320px) /1920);
  }
}
@media (max-width: 1230px) {
  .links {
    padding-top: calc(30px + 30 * (100vw - 320px) /1920);
  }
}
@media (min-width: 1230px) {
  .links {
    padding-bottom: calc(50px + 50 * (100vw - 320px) /1920);
  }
}
@media (max-width: 1230px) {
  .links {
    padding-bottom: calc(50px + 50 * (100vw - 320px) /1920);
  }
}
.links__row {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 700px) {
  .links__row {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
}

@media (max-width: 700px) {
  .links-item {
    padding: 10px 15px 0px 15px;
  }
}
.links-item__title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #000;
  padding: 0px 0px 25px 0px;
}
.links-item__list li {
  padding: 0px 0px 20px 0px;
}
.links-item__list li a {
  transition: all 0.5s ease 0s;
}
.links-item__list li a:hover {
  color: #000;
  transition: all 0.5s ease 0s;
}
.links-item__list li:last-child {
  padding: 0px;
}
.contact {
  background: #fff;
  border-top: 2px solid #efefef;
}
.contact__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1230px) {
  .contact__row {
    padding-top: calc(20px + 20 * (100vw - 320px) /1920);
  }
}
@media (max-width: 1230px) {
  .contact__row {
    padding-top: calc(20px + 20 * (100vw - 320px) /1920);
  }
}
@media (min-width: 1230px) {
  .contact__row {
    padding-bottom: calc(20px + 20 * (100vw - 320px) /1920);
  }
}
@media (max-width: 1230px) {
  .contact__row {
    padding-bottom: calc(20px + 20 * (100vw - 320px) /1920);
  }
}
@media (max-width: 820px) {
  .contact__row {
    flex-direction: column;
    align-items: center;
  }
}
.contact__contact {
  display: flex;
  align-items: center;
}

.contact-img__body {
  display: flex;
}
.contact-img__img {
  padding: 0px 25px 0px 0px;
}
@media (max-width: 820px) {
  .contact-img__img:last-child {
    padding: 0px;
  }
}
.contact-img__img img {
  border: 2px solid #f13c6e;
  padding: 15px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.contact-adress {
  font-weight: normal;
  font-size: 14px;
}
@media (max-width: 820px) and (min-width: 1230px) {
  .contact-adress {
    padding-top: calc(15px + 15 * (100vw - 320px) /1920);
  }
}
@media (max-width: 820px) and (max-width: 1230px) {
  .contact-adress {
    padding-top: calc(15px + 15 * (100vw - 320px) /1920);
  }
}
@media (max-width: 820px) and (min-width: 1230px) {
  .contact-adress {
    padding-bottom: calc(15px + 15 * (100vw - 320px) /1920);
  }
}
@media (max-width: 820px) and (max-width: 1230px) {
  .contact-adress {
    padding-bottom: calc(15px + 15 * (100vw - 320px) /1920);
  }
}

.footer {
  background: #efefef;
  padding: 25px 0px;
}
.footer__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text {
  font-weight: normal;
  font-size: 12px;
  color: #828282;
}